body {
    background-image: url(./imagens/fundo.jpg);
    background-size: 100%; /* deixa a imagem de fundo ocupando 100% da janela */
    background-attachment: fixed; /* deixa a imagem de fundo fixa na tela */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
}

h1, h2 {
    text-align: center;
}

section {
    /*background-color: white;*/
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 600px;
    margin: 0 auto; /* centraliza o elemento na tela */
    border-radius: 10px; /* arredondar bordas*/
    margin-bottom: 20px; /* margem no rodapé do elemento */
    padding: 20px; /* espaçamento interno no elemento*/
    /* padding-left: 100; espaçamento no lado esquerdo */
    overflow: hidden;
}

section p {
    text-align: justify;
}

section img {
    width: 75px;
    float: left; /* faz a imagem flutuar à esquerda */
    margin-right: 20px; /* aplica margem à direita da imagem */
}

#box-html {
    border: 10px solid #e44d26;
}

#box-css {
    border: 10px solid #264de4;
}

#box-js {
    border: 10px solid #f6de1d;
}