* { /* aplicar em todas as tags html do doc (resetar as config do site) */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; /* o elemento sempre vai contabilizar no width (não estica o elemento) */
}

body {
    background-image: url("./imagens/fundo_netflix.jpg"); /* aplicar background */
    background-repeat: no-repeat; /* não repetir imagem na página */
    background-size: cover;
    background-attachment: fixed;
}

header img {
    width: 150px;
    margin: 30px;
}

#formulario {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    max-width: 400px;
    margin: 0 auto
}

#formulario h1 {
    color: #FFF;
    font-weight: 400; /* peso da fonte */
    margin-bottom: 30px; /* espaçamento para os cantos */
}

#formulario label {
    color: #666;
    display: block; /* faz o elemento ter comportamento de bloco; inline: transforma em linha */
}

#formulario div {
    margin-bottom: 20px;
}

#formulario div input {
    padding: 15px;
    background-color: #999;
    border: none; /* tirar borda */
    border-radius: 5px;
    width: 100%; /* ocupar 100% do bloco */
}

#formulario div input[type="radio"] {
    width: auto;
}

#formulario div input[type="radio"] + label { /* pegar todos os labels que estão logo após um input do tipo radio (sinal de + gera essa relação) */
    display: inline;
    margin-right: 20px;
}